node-red/flows.json
[
    {
        "id": "18243aa4f20abaa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e05ac45fab33178",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "modbus",
        "tcpPort": "5020",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "699e1f9cdc62f62b",
        "type": "ui_tab",
        "name": "Graphing",
        "icon": "show_chart",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "445e0e1d8ca630df",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d57dae30345897ee",
        "type": "ui_group",
        "name": "Current",
        "tab": "699e1f9cdc62f62b",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "251b81ee7792cb7d",
        "type": "ui_tab",
        "name": "Control",
        "icon": "keyboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "06600b2f320e273d",
        "type": "ui_group",
        "name": "Control",
        "tab": "251b81ee7792cb7d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "453555f47793614f",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "699e1f9cdc62f62b",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0345c4f71e25d675",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-holding regs-current",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "15a10c7fc9d37d71",
                "0388aff2f54dd8e0"
            ],
            [
                "749be5f3490f4097"
            ]
        ]
    },
    {
        "id": "749be5f3490f4097",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf62c8451349c5a4",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "d57dae30345897ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current [A]:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "15a10c7fc9d37d71",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "0e1a87a11a4467db",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0388aff2f54dd8e0",
        "type": "function",
        "z": "18243aa4f20abaa8",
        "name": "function 1",
        "func": "msg.payload=msg.payload/1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "bf62c8451349c5a4",
                "0e1a87a11a4467db",
                "9acf6990f0a38b26",
                "aeba4c0e78d6b75a"
            ]
        ]
    },
    {
        "id": "f9000c2593203279",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 1",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "76958490c2aa0f4f"
            ]
        ]
    },
    {
        "id": "ba31183c9549cb95",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-read-coil-1",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "Coil",
        "adr": "0x01",
        "quantity": "8",
        "rate": "100",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "5ad934c61c41d563",
                "500232bffed99cd6"
            ],
            [
                "378c936ede01d57b"
            ]
        ]
    },
    {
        "id": "76958490c2aa0f4f",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 1",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x01",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ad934c61c41d563",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "06600b2f320e273d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "coil",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "500232bffed99cd6",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 620,
        "wires": []
    },
    {
        "id": "378c936ede01d57b",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 660,
        "wires": []
    },
    {
        "id": "d01d10c5d069c9d5",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 2",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "5a83acc16952bbf7"
            ]
        ]
    },
    {
        "id": "fe3fd102936d3c48",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 3",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "c4d36658683d0427"
            ]
        ]
    },
    {
        "id": "14c8a984854692fd",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 4",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "48f3b04f47e49f60"
            ]
        ]
    },
    {
        "id": "1c1d8e1305900b3d",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 5",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "cd3a876d41863a39"
            ]
        ]
    },
    {
        "id": "153dc8f2b1b8753b",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 6",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "85c9268a21732cf2"
            ]
        ]
    },
    {
        "id": "fbf8e73183264720",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 7",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "6486215d6ab82bdf"
            ]
        ]
    },
    {
        "id": "276a3a074d43fcb3",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 8",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "421ce07747783644"
            ]
        ]
    },
    {
        "id": "5a83acc16952bbf7",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 2",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x02",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4d36658683d0427",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 3",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x03",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48f3b04f47e49f60",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 4",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x04",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd3a876d41863a39",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 5",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x05",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "85c9268a21732cf2",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 6",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x06",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6486215d6ab82bdf",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 7",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x07",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "421ce07747783644",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 8",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x08",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "957411ccae5ecbe3",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-holding regs-voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "HoldingRegister",
        "adr": "0x00",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "6cd3311c171a0159",
                "81a4ba66d1ff939c"
            ],
            [
                "c46ac87e79d88b0f"
            ]
        ]
    },
    {
        "id": "c46ac87e79d88b0f",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "459037e978df3816",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "453555f47793614f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage [V]:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1510,
        "y": 40,
        "wires": []
    },
    {
        "id": "6cd3311c171a0159",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "81a4ba66d1ff939c",
        "type": "function",
        "z": "18243aa4f20abaa8",
        "name": "function 2",
        "func": "msg.payload=msg.payload/1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1295,
        "y": 133,
        "wires": [
            [
                "459037e978df3816",
                "2c44aae822cf105c",
                "d3cab109c6b834f3",
                "57ed9ec67dbbec09"
            ]
        ]
    },
    {
        "id": "2c44aae822cf105c",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d3cab109c6b834f3",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 5 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "57ed9ec67dbbec09",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 1 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9acf6990f0a38b26",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 5 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aeba4c0e78d6b75a",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 1 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    }
]