node-red/flows.json
[
    {
        "id": "18243aa4f20abaa8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b405fd0bbb6541d3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6092890d14ac8d7f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e05ac45fab33178",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "modbus",
        "tcpPort": "5020",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "699e1f9cdc62f62b",
        "type": "ui_tab",
        "name": "Graphing",
        "icon": "show_chart",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "445e0e1d8ca630df",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d57dae30345897ee",
        "type": "ui_group",
        "name": "Current",
        "tab": "699e1f9cdc62f62b",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "251b81ee7792cb7d",
        "type": "ui_tab",
        "name": "Control",
        "icon": "keyboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "06600b2f320e273d",
        "type": "ui_group",
        "name": "Control",
        "tab": "251b81ee7792cb7d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "453555f47793614f",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "699e1f9cdc62f62b",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbc3532f.41ca7",
        "type": "ui_group",
        "name": "Bathroom",
        "tab": "1ff97cd4.681d5b",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1ff97cd4.681d5b",
        "type": "ui_tab",
        "name": "GrafanaTest",
        "icon": "dashboard",
        "order": 37
    },
    {
        "id": "0345c4f71e25d675",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-holding regs-current",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "15a10c7fc9d37d71",
                "0388aff2f54dd8e0"
            ],
            [
                "749be5f3490f4097"
            ]
        ]
    },
    {
        "id": "749be5f3490f4097",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "bf62c8451349c5a4",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "d57dae30345897ee",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current [A]:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "15a10c7fc9d37d71",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 20,
        "wires": []
    },
    {
        "id": "0e1a87a11a4467db",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0388aff2f54dd8e0",
        "type": "function",
        "z": "18243aa4f20abaa8",
        "name": "function 1",
        "func": "msg.payload=msg.payload/1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 120,
        "wires": [
            [
                "bf62c8451349c5a4",
                "0e1a87a11a4467db",
                "9acf6990f0a38b26",
                "aeba4c0e78d6b75a"
            ]
        ]
    },
    {
        "id": "f9000c2593203279",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 1",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "76958490c2aa0f4f"
            ]
        ]
    },
    {
        "id": "ba31183c9549cb95",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-read-coil-1",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "Coil",
        "adr": "0x01",
        "quantity": "8",
        "rate": "100",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 250,
        "y": 380,
        "wires": [
            [
                "5ad934c61c41d563",
                "500232bffed99cd6"
            ],
            [
                "378c936ede01d57b"
            ]
        ]
    },
    {
        "id": "76958490c2aa0f4f",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 1",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x01",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ad934c61c41d563",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "06600b2f320e273d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "coil",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "500232bffed99cd6",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 620,
        "wires": []
    },
    {
        "id": "378c936ede01d57b",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 660,
        "wires": []
    },
    {
        "id": "d01d10c5d069c9d5",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 2",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "5a83acc16952bbf7"
            ]
        ]
    },
    {
        "id": "fe3fd102936d3c48",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 3",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "c4d36658683d0427"
            ]
        ]
    },
    {
        "id": "14c8a984854692fd",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 4",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "48f3b04f47e49f60"
            ]
        ]
    },
    {
        "id": "1c1d8e1305900b3d",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 5",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "cd3a876d41863a39"
            ]
        ]
    },
    {
        "id": "153dc8f2b1b8753b",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 6",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "85c9268a21732cf2"
            ]
        ]
    },
    {
        "id": "fbf8e73183264720",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 7",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "6486215d6ab82bdf"
            ]
        ]
    },
    {
        "id": "276a3a074d43fcb3",
        "type": "ui_switch",
        "z": "18243aa4f20abaa8",
        "name": "",
        "label": "Coil 8",
        "tooltip": "",
        "group": "06600b2f320e273d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "421ce07747783644"
            ]
        ]
    },
    {
        "id": "5a83acc16952bbf7",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 2",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x02",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c4d36658683d0427",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 3",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x03",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "48f3b04f47e49f60",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 4",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x04",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cd3a876d41863a39",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 5",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x05",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "85c9268a21732cf2",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 6",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x06",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6486215d6ab82bdf",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 7",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x07",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "421ce07747783644",
        "type": "modbus-write",
        "z": "18243aa4f20abaa8",
        "name": "write coil 8",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0x08",
        "quantity": "1",
        "server": "7e05ac45fab33178",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 1230,
        "y": 620,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "957411ccae5ecbe3",
        "type": "modbus-read",
        "z": "18243aa4f20abaa8",
        "name": "modbus-holding regs-voltage",
        "topic": "",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "http://localhost:1880/#modbus-options-tab",
        "dataType": "HoldingRegister",
        "adr": "0x00",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "5",
        "server": "7e05ac45fab33178",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "x": 1060,
        "y": 140,
        "wires": [
            [
                "6cd3311c171a0159",
                "81a4ba66d1ff939c"
            ],
            [
                "c46ac87e79d88b0f"
            ]
        ]
    },
    {
        "id": "c46ac87e79d88b0f",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "459037e978df3816",
        "type": "ui_text",
        "z": "18243aa4f20abaa8",
        "group": "453555f47793614f",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage [V]:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "x": 1510,
        "y": 40,
        "wires": []
    },
    {
        "id": "6cd3311c171a0159",
        "type": "debug",
        "z": "18243aa4f20abaa8",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "81a4ba66d1ff939c",
        "type": "function",
        "z": "18243aa4f20abaa8",
        "name": "function 2",
        "func": "msg.payload=msg.payload/1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1295,
        "y": 133,
        "wires": [
            [
                "459037e978df3816",
                "2c44aae822cf105c",
                "d3cab109c6b834f3",
                "57ed9ec67dbbec09"
            ]
        ]
    },
    {
        "id": "2c44aae822cf105c",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d3cab109c6b834f3",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 5 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "57ed9ec67dbbec09",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "453555f47793614f",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Voltage - 1 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9acf6990f0a38b26",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 5 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "aeba4c0e78d6b75a",
        "type": "ui_chart",
        "z": "18243aa4f20abaa8",
        "name": "",
        "group": "d57dae30345897ee",
        "order": 1,
        "width": "15",
        "height": "10",
        "label": "Current - 1 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "24b9b0696472118e",
        "type": "ui_template",
        "z": "18243aa4f20abaa8",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "483c0628d77cb628",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Temperature",
        "order": 1,
        "width": "3",
        "height": "2",
        "format": "<iframe  style=\"\n  width:150px; \n  height:65px;\n  overflow: hidden;\n  margin: auto;\n  border: 0px solid green;\n  \"\nframeborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"\n\nsrc=\"http://192.168.1.127:3000/d-solo/0032x0mgk/joshuadashboard?orgId=1&amp;refresh=1m&amp;panelId=4\"  \n  \n  \n></iframe>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 990,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2732295eac3e5ece",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Humidity",
        "order": 2,
        "width": "3",
        "height": "2",
        "format": "<iframe  style=\"\n  width:150px; \n  height:65px;\n  overflow: hidden;\n  margin: auto;\n  border: 0px solid green;\n  \"\nframeborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"\n\nsrc=\"http://192.168.1.127:3000/d-solo/0032x0mgk/joshuadashboard?orgId=1&amp;refresh=1m&amp;panelId=7\"  \n  \n  \n></iframe>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 980,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "cee40751abeec49c",
        "type": "ui_button",
        "z": "b405fd0bbb6541d3",
        "name": "",
        "group": "bbc3532f.41ca7",
        "order": 10,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "24 H",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "24",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "e90fa677c4736181"
            ]
        ]
    },
    {
        "id": "1fc47be86241395f",
        "type": "ui_button",
        "z": "b405fd0bbb6541d3",
        "name": "",
        "group": "bbc3532f.41ca7",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "12 H",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "12",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "e90fa677c4736181"
            ]
        ]
    },
    {
        "id": "756447744e0cd2d3",
        "type": "ui_button",
        "z": "b405fd0bbb6541d3",
        "name": "",
        "group": "bbc3532f.41ca7",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "1 H",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "e90fa677c4736181"
            ]
        ]
    },
    {
        "id": "e90fa677c4736181",
        "type": "function",
        "z": "b405fd0bbb6541d3",
        "name": "SetTimeRange",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar current = d.getTime();\n\n\nmsg.fromdate = \"now-\" + msg.payload +\"h\";\nmsg.enddate = \"now\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [
            [
                "81fb19863f6860ac",
                "be59ff229f12199f"
            ]
        ]
    },
    {
        "id": "3243906b97549518",
        "type": "function",
        "z": "b405fd0bbb6541d3",
        "name": "SetTimeYesterday",
        "func": "var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0); //Timestamp midnight\n\nmsg.fromdate = today0h - p_1d\nmsg.enddate = today0h\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "81fb19863f6860ac",
                "be59ff229f12199f"
            ]
        ]
    },
    {
        "id": "4d98d63f236438e0",
        "type": "ui_button",
        "z": "b405fd0bbb6541d3",
        "name": "",
        "group": "bbc3532f.41ca7",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Yesterday",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "yesterday",
        "payloadType": "str",
        "topic": "",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "3243906b97549518"
            ]
        ]
    },
    {
        "id": "31103cc41b5c401a",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Page Got Loaded",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "cee40751abeec49c"
            ]
        ]
    },
    {
        "id": "e1b4514e003294c2",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Lux",
        "order": 3,
        "width": "3",
        "height": "2",
        "format": "<iframe  style=\"\n  width:150px; \n  height:65px;\n  overflow: hidden;\n  margin: auto;\n  border: 0px solid green;\n  \"\nframeborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"\n\nsrc=\"http://192.168.1.127:3000/d-solo/0032x0mgk/joshuadashboard?orgId=1&amp;refresh=1m&amp;panelId=8\"  \n  \n  \n></iframe>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "580c2aa3a5592da3",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Airpressure",
        "order": 4,
        "width": "3",
        "height": "2",
        "format": "<iframe  style=\"\n  width:150px; \n  height:65px;\n  overflow: hidden;\n  margin: auto;\n  border: 0px solid green;\n  \"\nframeborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\"\n\nsrc=\"http://192.168.1.127:3000/d-solo/0032x0mgk/joshuadashboard?orgId=1&amp;refresh=1m&amp;panelId=11\"  \n  \n  \n></iframe>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 990,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7e0337c8d4e6dd13",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Charttemperatuur",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<html>\n<iframe id=\"myFrame\" width=\"600px\" height=\"300px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1010,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "81fb19863f6860ac",
        "type": "function",
        "z": "b405fd0bbb6541d3",
        "name": "BuildTemplate",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\nvar panelid=2\n\nmsg.payload = \"http://localhost:3000/d-solo/H3iLFJM4k/modbus-data?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 100,
        "wires": [
            [
                "7e0337c8d4e6dd13"
            ]
        ]
    },
    {
        "id": "1db7f66eb9da894a",
        "type": "ui_template",
        "z": "b405fd0bbb6541d3",
        "group": "bbc3532f.41ca7",
        "name": "Chartluchtvochtigheid",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<html>\n<iframe id=\"myFrame2\" width=\"600px\" height=\"300px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1020,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "be59ff229f12199f",
        "type": "function",
        "z": "b405fd0bbb6541d3",
        "name": "BuildTemplate",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\nvar panelid=4\n\nmsg.payload = \"http://localhost:3000/d/H3iLFJM4k/modbus-data?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "1db7f66eb9da894a"
            ]
        ]
    },
    {
        "id": "0e119340d3e637e8",
        "type": "function",
        "z": "b405fd0bbb6541d3",
        "name": "SetTimeTodaySofar",
        "func": "msg.fromdate = \"now/d\";\nmsg.enddate = \"now\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "81fb19863f6860ac",
                "be59ff229f12199f"
            ]
        ]
    },
    {
        "id": "aa66452e573ce40a",
        "type": "ui_button",
        "z": "b405fd0bbb6541d3",
        "name": "",
        "group": "bbc3532f.41ca7",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Today",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "yesterday",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "0e119340d3e637e8"
            ]
        ]
    },
    {
        "id": "df81cc9e.a9171",
        "type": "inject",
        "z": "6092890d14ac8d7f",
        "name": "repeat every 10s",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "6ca36476.d0597c"
            ]
        ]
    },
    {
        "id": "76678044.5aaeb",
        "type": "debug",
        "z": "6092890d14ac8d7f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "bd9b5761.fb4918",
        "type": "debug",
        "z": "6092890d14ac8d7f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "b18a50dd.f7e5c",
        "type": "uibuilder",
        "z": "6092890d14ac8d7f",
        "name": "",
        "topic": "",
        "url": "chart",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "vue",
        "extTemplate": "",
        "showfolder": false,
        "reload": true,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "76678044.5aaeb"
            ],
            [
                "bd9b5761.fb4918"
            ]
        ]
    },
    {
        "id": "6ca36476.d0597c",
        "type": "change",
        "z": "6092890d14ac8d7f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "($random()*10)+($random()*10)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "b18a50dd.f7e5c"
            ]
        ]
    }
]